table {
  padding: 8px;
  border : 2px solid rgb(255, 255, 255);
  background: rgb(227,33,164);
  background: linear-gradient(90deg, rgba(227,33,164,1) 0%, rgba(100,15,145,1) 100%);
}
th, td{
  color: #fff;
  border : 0.5px solid rgb(196, 25, 125);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 15px;
  margin:10px;
  height: 15px;
}
td:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(153, 19, 102);
}


